include components/section
include components/small-header

doctype html
html.text-slate-900.tracking-wider(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Gray Consulting')
    title Gray Consulting

  body
    .px-8.py-4.flex.items-center.justify-between
      span.text-4xl.font-black.text-indigo-600 GC:
      -
        var pages = [
          {label: "About Us", sectionId: "about-us"},
          {label: "Testimonials", sectionId: "testimonials"},
          {label: "Contact Us", sectionId: "contact-us"},
        ]
      button#open-mobile-nav-btn.text-4xl(type='button')(class="md:hidden" aria-label="open navigation menu")
        i.fas.fa-bars
      nav#mobile-nav.clickable-nav.absolute.top-0.left-0.w-full.bg-black.bg-opacity-90.text-white.transition-transform.duration-500
        each page in pages
          button.h-16.w-full.flex.items-center.justify-center.uppercase.font-medium(type="button" data-section-id=page.sectionId)= page.label
      .clickable-nav.hidden(class="md:flex md:items-center md:ml-auto md:space-x-16")
        each page in pages
          button.uppercase.font-medium.cursor-pointer.transition-colors(class="hover:text-indigo-600" type="button" data-section-id=page.sectionId)= page.label

    #content.min-h-screen
      +section.mt-16
        +small-header We're Gray Consulting
        .mt-8.text-4xl.font-bold A place where leading edge technology and forward thinking gives rise to ground-breaking solutions.
      +section#about-us.bg-slate-900.text-slate-300(class="md:flex md:space-x-16")
        .mt-8.flex.items-center.justify-center(class="md:w-1/3 md:flex-shrink-0 md:mt-0")
          .rounded-full.border-2.border-slate-100.h-48.w-48.p-1(class="md:h-64 md:w-64")
            .rounded-full.w-full.h-full.bg-barney.bg-center.bg-top
        .mt-8(class="md:mt-0")
          +small-header({light: true}) Payment Technology Experts
          .mt-8.text-4xl.font-bold Gray Consulting exists to provide services to merchants, merchant acquirers, and payment technology providers.
          .mt-16.text-xl.
            The payment arena for merchants is more like the wild wild west than it has been in years - hundreds of interchange rates, mobile PoS, Apple Pay, alternative payments, tokenization, and more. Gray Consulting has the expertise to simplify this complex terrain, and make sure your business is running at peak operational and financial performance.
      +section.bg-indigo-400.flex.divide-x-2.divide-slate-900
        .flex.items-center.justify-end.font-bold.text-2xl.pr-4(class="w-1/2 md:text-6xl md:pr-8") Expertise
        .flex.flex-col.justify-center.space-y-4.pl-4.font-light.text-sm(class="w-1/2 md:pl-8")
          div
            span.inline-block Strategic&nbsp;
            span.inline-block.font-bold Payment Advice
          div
            span.inline-block PCI and&nbsp;
            span.inline-block.font-bold Payment Security
          div
            span.inline-block Project&nbsp;
            span.inline-block.font-bold Management
          div
            span.inline-block Industry&nbsp;
            span.inline-block.font-bold Regulations
      +section
        +small-header What we Do
        .mt-8.text-4xl.font-bold The payment world is confusing. Don't go it alone.
        .space-y-32.mt-16.flex.flex-col.items-center(class="md:flex-row md:justify-around md:space-y-0")
          div.flex.flex-col.items-center
            .h-48.w-48.flex.items-center.justify-center.rounded-full.bg-indigo-400
              i.fas.fa-lock.text-8xl
            .mt-8.text-center(class="md:w-3/4") Let Gray Consulting evaluate the status of your
              span.font-bold.ml-1 PCI compliance.
          div.flex.flex-col.items-center
            .h-48.w-48.flex.items-center.justify-center.rounded-full.bg-indigo-400
              i.fas.fa-sd-card.text-8xl
            .mt-8.text-center(class="md:w-3/4") The buzz in payments right now is EMV.
              span.font-bold.ml-1 Are you ready?
          div.flex.flex-col.items-center
            .h-48.w-48.flex.items-center.justify-center.rounded-full.bg-indigo-400
              i.fas.fa-people-arrows.text-8xl
            .mt-8.text-center(class="md:w-3/4") We can help you with
              span.font-bold.ml-1 interchange qualification analysis.
      div.bg-dogs.bg-center.h-128.bg-cover
      +section#testimonials.bg-slate-900.text-slate-300
        +small-header({light: true}) Testimonials 
        .mt-8.text-4xl.font-bold Our clients fuuuuucking love us.
        .mt-16.space-y-20(class="md:space-y-0 md:grid md:grid-cols-2 gap-32")
          - 
            var testimonials = [
              {quote: "Gray Consulting is the best.", person: "Visa"},
              {quote: "I refinanced my mortgage just so I'd have more money to pay these guys. They deserve it.", person: "Jeff Bezos"},
              {quote: "I used to have a family. Now I have Gray Consulting. I couldn't be happier.", person: "Anonymous"},
              {quote: "There is no joy, no pain, no night no day. There is no hunger, no thirst, no day, no night, no life, no death. There is only Gray Consulting.", person: "Martha Gray"},
            ]
          each testimonial in testimonials
            div.flex.flex-col.items-center.justify-center
              .italic.text-center.font-light= `"${testimonial.quote}"`
              .mt-4.text-right.text-slate-400= `—${testimonial.person}`
      +section#contact-us
        +small-header Get in Touch
        div(class="md:flex")
          .mt-8.flex.items-center.justify-around(class="md:flex-col md:w-1/3 md:flex-shrink-0 md:space-y-4")
            each icon in ['fa-twitter', 'fa-facebook', 'fa-linkedin', 'fa-instagram']
              a.text-2xl.cursor-pointer(class="hover:text-indigo-600")
                i.fab(class=icon)
          .mt-8.text-4xl.font-black.text-indigo-600(class="md:mt-0") GC:
          div.space-y-16.mt-16.text-xs.uppercase.font-light(class="md:mt-0 md:ml-16 md:text-lg md:font-normal")
            div.space-y-4
              div deeznuts@grayconsulting.com
              div 333-444-5555
            div.space-y-4
              div 123 good st
              div chicago, IL 12345
      .bg-slate-900.text-slate-300.px-4.py-8
        .text-center.font-light Gray Consulting LLC
